.products {
  width: 100%;
  margin: 0 auto;
  background: var(--White_bg, #f8f8f8);
  padding: 48px 0 120px 0;
}

.products__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* justify-content: space-between; */
}

.products__container__wrapper {
  display: flex;
  justify-content: space-between;
}

/* .products__info__container {} */

.products__image {
  width: 513px;
  height: 489px;
}

.products__title {
  color: var(--Black_text, #0f100f);
  font-family: Spectral;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
  /* 134.615% */
  margin: 0;
}

.products__description {
  color: var(--grey, #797979);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.product__big-description {
  color: var(--Black_text, #0f100f);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 32px 0 0 0;
}
.products__wrapper {
  display: flex;
  align-items: center;
  margin: 32px 0 0 0;
}

.products__info {
  color: var(--Black_text, #0f100f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.products__dropdown {
  border: none;
  border-bottom: 1px solid var(--Black_text, #0F100F);
  padding: 0 0 12px 0;
  background-color: transparent;
  width: 300px;
  color: var(--Black_text, #0f100f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 64px 0 0 0;
}

/* .products__option {
    padding: 0 70px 0 0;
} */
.products__price__container {
  display: flex;
  align-items: center;
}

.products__price {
  color: var(--Black_text, #0f100f);
  font-family: Spectral;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.products__weight {
  color: var(--Black_text, #0f100f);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.products__button {
  border-radius: 64px;
  background: var(--Accent, #465244);
  border: none;
  color: var(--White_text, #f6f6f6);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 180px;
  height: 52px;
  margin: 0 0 0 54px;
}

.products__title_slider {
  color: var(--Black_text, #0f100f);
  text-align: center;
  font-family: Spectral;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 64px 0 32px 0;
}

.grain {
  display: inline-block;
  width: 16px;
  height: 17px;
  /* background-image: url('path/to/combined-grain.png');  */
  background-size: cover;
  margin: 0 8px 0 0;
}

.filled {
  background-image: url(../../images/bean_full.svg);
}

.empty {
  background-image: url(../../images/bean_empy.svg);
}
