.info__block {
  padding: 80px 0 120px 0;
}
.info__block__container {
  display: flex;
  padding: 0 80px;
}

.info__digit {
  font-family: Spectral;
  font-size: 52px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 0em;
  margin: 0;
}

.info__container {
  flex: 1;
}

.info__title-digit__container {
  display: flex;
  gap: 48px;
}

.info__container__title {
  font-family: Spectral;
  font-size: 52px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 0em;
  margin: 0 0 16px 0;
}

.info__container__text {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #797979;
  margin: 0 0 64px 101px;
}

.info__sort {
  font-family: Spectral;
  font-size: 52px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  margin: 146px 0 0 0;
}
.button__container {
  display: flex;
  gap: 48px;
  margin: 0 0 0 101px;
}
.button__info {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.button__info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #465244;
  padding: 0 8px 0 0;
  text-decoration: none;
}

.button__info__img {
  width: 20px;
  height: 20px;
}

.info__image {
  margin: 40px 0 0 182px;
}

@media screen and (max-width: 767px) {
  .info__block {
    padding: 40px 0 64px 0;
  }
  .info__block__container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }

  .info__digit {
    font-family: Spectral;
    font-size: 52px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0em;
    margin: 0;
  }

  .info__container {
    flex: 1;
  }

  .info__title-digit__container {
    display: flex;
    gap: 24px;
  }

  .info__container__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;

    margin: 0 0 16px 0;
  }

  .info__container__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    margin: 0 0 16px 57px;
  }

  .info__sort {
    font-size: 30px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    margin: 0;
    text-align: right;
  }

  .button__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 0 0 58px;
  }

  .button__info {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .button__info__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
  }

  .button__info__img {
    width: 20px;
    height: 20px;
  }

  .info__image {
    margin: 40px 0 0 182px;
  }
}
