.burger {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 10;
  }
  
  .burger_opened {
    opacity: 1;
    visibility: visible;
  }
  
  .burger__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background: #E3E5E4;
    z-index: 3;
  }
  
  .burger__close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 24px;
    left: 24px;
    background-image: url(../../images/x-button.svg);
    background-color: transparent;
    background-size: cover;
    padding: 0;
    margin: 0;
    border: none;
  }
  
  .burger__links-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 120px 0 0 0;
    padding: 0;
    gap: 30px;
    cursor: pointer;
  }
  
  .burger__link {
    font-family: Mplus 1p;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .burger__link:hover {
    color: #75ff72;
  }
  
  .burger__sub-menu {
    display: none;
    list-style-type: none;
    margin: 0 0 0 32px;
    padding: 0;
  }
  
  .burger__sub-menu__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0 0 0;
  }
  
  .burger__sub-link {
    color: #fff;
    text-decoration: none;
    font-family: Mplus 1p;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
    margin: 30px 0 30px 0;
  }
  
  .burger__link:hover .burger__sub-menu {
    display: block;
  }

@media screen and (max-width: 767px) {

}