.intro__block {
  position: relative;
  overflow: hidden;
  height: 685px;
}

.intro__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../images/beans.png);
  transform-origin: center center;
  z-index: 2;
}

.intro__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.intro__title {
  font-family: Spectral;
  font-size: 260px;
  font-weight: 700;
  line-height: 364px;
  letter-spacing: 0em;
  margin: 0;
}

.intro__text {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  z-index: 2;
  text-align: center;
}

.intro__button {
  width: 308px;
  /* height: 64px; */
  margin: 0;
  padding: 15px 0;
  border-radius: 64px;
  background-color: #465244;
  border: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #f8f8f8;
  cursor: pointer;
  text-align: center;
  z-index: 6;
}

@media screen and (max-width: 767px) {
  .intro__block {
    height: 628px;
  }

  .intro__background {
    background: url(../../images/beans-small.png);
  }

  .intro__title {
    font-family: Spectral;
    font-size: 64px;
    font-weight: 700;
    line-height: 97px;
    letter-spacing: 0em;
  }

  .intro__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
  }

  .intro__button {
    width: 328px;
  }
}
