.productlist {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  gap: 86px;
  /* padding: 0 80px; */
}

/* .product {
  
} */

.product__container {
  width: 364px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
}

.product__container:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.product__image {
  width: 348px;
}

.product__title {
  color: var(--Black_text, #0f100f);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 34px 0 8px 8px;
  margin-right: auto;
}

.product__description {
  color: var(--Black_text, #0f100f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 0 8px;
  margin-right: auto;
}

.product__wrapper {
  display: flex;
  align-items: center;
  margin: 32px 0 0 0;
}

.product__info {
  color: var(--Black_text, #0f100f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.product__price__container {
  display: flex;
  align-items: center;
}

.product__price {
  color: var(--Black_text, #0f100f);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.product__weight {
  color: var(--Black_text, #0f100f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.grains__container {
  margin: 0 40px 0 0;
}

.grain {
  display: inline-block;
  width: 16px;
  height: 17px;
  /* background-image: url('path/to/combined-grain.png');  */
  background-size: cover;
  margin: 0 8px 0 0;
}

.filled {
  background-image: url(../../images/bean_full.svg);
}

.empty {
  background-image: url(../../images/bean_empy.svg);
}