.profile {
  width: 100%;
  margin: 0 auto;
  background: var(--White_bg, #f8f8f8);
}

.profile__container {
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  padding: 48px 0 120px 0;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
    margin: 0 200px 0 0;
    min-width: 188px;
}
.button__profile {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin: 0 0 40px 0;
  align-items: center;
}

.button__profile__img {
  width: 20px;
  height: 20px;
  padding: 0 8px 0 0;
}

.button__profile__text {
  color: var(--grey, #797979);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.account__container {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}
.input__container {
    display: flex;
    flex-direction: column;
    margin: 0 48px 32px 0;
}
.profile__input {
  color: var(--grey_light, #c8cac8);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: var(--Border-Radius-rounded-none, 0px);
  border-bottom: 1px solid var(--Black_text, #0f100f);
  margin: 0 0 48px 0;
  padding: 0 0 12px 0;
}

.profile__label {
  color: var(--Black-600, #7e7e7e);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.154px;
  letter-spacing: -0.154px;
  margin: 0 0 8px 0;
}

.profile__label::placeholder {
  color: var(--placeholder-color, #a0a0a0);
  text-indent: 12px;
}
