.catalog {
    width: 100%;
    margin: 0 auto;
    background: var(--White_bg, #f8f8f8);
    padding: 48px 0 120px 0;
  }
  
  .catalog__container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 80px;
  }
  
  .catalog__title {
    color: var(--Black_text, #0F100F);
    text-align: center;
    font-family: Spectral;
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    /* 134.615% */
    margin: 64px;
  }