.slick-slider_container {
    max-width: 1102px;
    margin: 0 auto;

}

.slick-slider {
    max-width: 1102px;
    display: flex;
    justify-content: center;
    text-align: left;
}

.slick-next {
    width: 52px;
    height: 52px;
}

.slick-prev {
    width: 52px;
    height: 52px;
}

/* @media screen and (max-width: 1260px) {
	.slick-slider_container {
		max-width: 815px;
		margin: 90px auto 0 auto;
	}
	.slick-slider_title {
		padding-left: 15px;
	}
} */