.header {
  width: 100%;
  margin: 0 auto;
  padding: 52px 0 52px 0;
  background-color: #f8f8f8;
  z-index: 3;
  position: sticky;
  top: 0;
}

.header__container {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 47px;
  margin: 0 auto;
}

.header__links {
  display: flex;
  gap: 24px;
  text-decoration: none;
}
.header__link {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none; /* Убираем дефолтное подчеркивание */
  color: inherit;
}

.header__search__container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 300px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid var(--Black_text, #0f100f);
}

.header__search-input {
  background-color: transparent;
  border: none;
  color: var(--grey, #797979);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 300px;
  width: 100%;
  outline: none;
}

.header__search-button_search {
  margin: 0 8px 0 12px;
}
