.main {
  position: relative;
  color: #000;
  width: 100vw;
  height: 200vh; 
  background: url(./assets/img.png) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
}

.main__container {
  position: relative;
  padding: 100px 0 0 0;
  z-index: 1; 
}

.main__text {
  margin: 0 0 60px 0;
  color: #1b3e0fd1; 
  font-family: 'Caveat';
  font-size: 150px;
  font-weight: 400;
  line-height: 120px;
}

.countdown-timer {
  font-size: 220px;
  color: #1b3e0fd1; 
  font-family: Arial;
}

#root {
  max-width: 1280px;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .main__container {
    padding: 70px 0 0 0;
  }
  .main__text {
    font-size: 115px;
    line-height: 100px;
  }

  .countdown-timer {
    font-size: 160px;
  }
}

@media screen and (max-width: 1000px) {
  .main__container {
    padding: 50px 0 0 0;
  }
  .main__text {
    font-size: 85px;
    line-height: 60px;
  }

  .countdown-timer {
    font-size: 120px;
  }
}

@media screen and (max-width: 744px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__container {
    padding: 50px 0 0 0;
  }
  .main__text {
    font-size: 50px;
    line-height: 30px;
  }

  .countdown-timer {
    font-size: 55px;
  }

  .main {
    height: 100vh;
  }

}
